.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

header {
  text-align: center;
}

main {
  text-align: center;
  width: 100%;
}

footer {
  text-align: center;
  width: 100%;
}

.img_1,
.img_2,
.img_3,
.img_4,
.img_5 {
  width: 100%;
  height: 100%;
}

.video_1 {
  width: 100%;
  height: 100%;
}

.video_2 {
  width: 100%;
  height: 100%;
}

.chain {
  margin-bottom: 5em;
}
